* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

#app {
    width: 400px;
}

.hp {
    color: red;
}

.energy {
    color: lightskyblue;
}

#hp_player {
    font-size: 24px;
    display: inline-block;
}

#energy_player {
    font-size: 24px;
    display: inline-block;
    float: right;
}

#char_table {
    border: 1px solid gray;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-around; */
    align-items: center;
}

.row {
    width: 100%;
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

.cell {
    display: inline-block;
    color: white;
    border: 1px solid white;
    flex-grow: 1;
}

#btn_add_row {
    width: 50px;
    font-size: 20px;
}